.App {
  background-image: url('./local.jpg');
  background-size: 100% 100%;
  font-size:40px;
  background-repeat: no-repeat;
  padding: 330px; 
  display: flex;
  flex-direction: row-reverse;
};



